[Unit]
Description=ownmine Minecraft Self-hosted Server Manager
After=network.target

[Service]
ExecStart=/usr/bin/python3 /path/to/ownmine/main.py
WorkingDirectory=/path/to/ownmine/
Restart=always
User=minecraft
Group=minecraft

[Install]
WantedBy=multi-user.target
